<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
            max-width: 100%;
        }

    </style>
</head>



<!-- Resources -->

<script src="../../static/js/amcharts/amcharts4/core.js"></script>
<script src="../../static/js/amcharts/amcharts4/maps.js"></script>
<script src="../../static/js/amcharts/geodata/southKoreaHigh.js"></script>
<script src="../../static/js/amcharts/amcharts4/charts.js"></script>
<script src="../../static/js/amcharts/amcharts4/themes/animated.js"></script>
<script src="../../static/js/amcharts/amcharts4/lang/ko_KR.js"></script>
<!--<script src="https://cdn.amcharts.com/lib/4/core.js"></script>-->
<!--<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>-->
<!--<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Chart code -->
<script>
    am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        const testData = [];


        // function dataTest() {
        //     $.ajax({ //jquery ajax
        //         type:"post", //get방식으로 가져오기
        //         url:"amChart.json", //값을 가져올 경로
        //         dataType:"json", //html, xml, text, script, json, jsonp 등 다양하게 쓸 수 있음
        //         success: function(resultList){   //요청 성공시 실행될 메서드
        //             console.log("통신성공");
        //             console.log(resultList);
        //             //if (resultList && resultList.data && resultList.data.length > 0) {
        //             if (resultList) {
        //                 console.log("데이터");
        //                 var totalValue = resultList.data[0].alltotqty;
        //                 // 데이터 변환
        //                 var chartData = resultList.data.map(function(item) {
        //                     return {
        //                         name: item.date,
        //                         value: item.trues
        //                         value: item.trues
        //                     };
        //                 });
        //                 console.log("chartData");
        //                 console.log(chartData);
        //             }
        //         },
        //         error:function(){		 //요청 실패시 에러 확인을 위함
        //             console.log("통신에러");
        //         }
             });
//console.log(chartData);

        }


        // 더미 데이터 생성
        for (var i = 0; i < 10; i++) {
            createSeries("value" + i, "Series #" + i);
        }

        // Create series
        function createSeries(s, name) {

            //dataTest();
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value" + s;
            series.dataFields.dateX = "date";
            series.name = name;

            var segment = series.segments.template;
            segment.interactionsEnabled = true;

            var hoverState = segment.states.create("hover");
            hoverState.properties.strokeWidth = 3;

            var dimmed = segment.states.create("dimmed");
            dimmed.properties.stroke = am4core.color("#dadada");

            segment.events.on("over", function(event) {
                processOver(event.target.parent.parent.parent);
            });

            segment.events.on("out", function(event) {
                processOut(event.target.parent.parent.parent);
            });

            var data = [];
            var value = Math.round(Math.random() * 100) + 100;
            for (var i = 1; i < 100; i++) {
                value += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 30 + i / 5);
                var dataItem = { date: new Date(2018, 0, i) };
                dataItem["value" + s] = value;
                data.push(dataItem);
            }

            series.data = data;
            return series;
        }

        chart.legend = new am4charts.Legend();
        chart.legend.position = "right";
        chart.legend.scrollable = true;

        // setTimeout(function() {
        //   chart.legend.markers.getIndex(0).opacity = 0.3;
        // }, 3000)
        chart.legend.markers.template.states.create("dimmed").properties.opacity = 0.3;
        chart.legend.labels.template.states.create("dimmed").properties.opacity = 0.3;

        chart.legend.itemContainers.template.events.on("over", function(event) {
            processOver(event.target.dataItem.dataContext);
        })

        chart.legend.itemContainers.template.events.on("out", function(event) {
            processOut(event.target.dataItem.dataContext);
        })

        function processOver(hoveredSeries) {
            hoveredSeries.toFront();

            hoveredSeries.segments.each(function(segment) {
                segment.setState("hover");
            })

            hoveredSeries.legendDataItem.marker.setState("default");
            hoveredSeries.legendDataItem.label.setState("default");

            chart.series.each(function(series) {
                if (series != hoveredSeries) {
                    series.segments.each(function(segment) {
                        segment.setState("dimmed");
                    })
                    series.bulletsContainer.setState("dimmed");
                    series.legendDataItem.marker.setState("dimmed");
                    series.legendDataItem.label.setState("dimmed");
                }
            });
        }

        function processOut() {
            chart.series.each(function(series) {
                series.segments.each(function(segment) {
                    segment.setState("default");
                })
                series.bulletsContainer.setState("default");
                series.legendDataItem.marker.setState("default");
                series.legendDataItem.label.setState("default");
            });
        }

        document.getElementById("button").addEventListener("click", function(){
            processOver(chart.series.getIndex(3));
        })

    }); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
